* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: hsl(243, 87%, 12%);
}

h2,
h4 {
  font-family: Raleway, sans-serif;
}
p {
  font-family: Open Sans, sans-serif;
}
/*Header styling*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  animation: myAnim 1s ease 0s 1 normal forwards;
  z-index: 99;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar {
  display: none;
}
.hamburger-menu {
  display: none;
}
.header-menu li {
  list-style: none;
  margin-right: 50px;
}

.header-menu li a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: var(--mainColor);
}

/*Security section styling*/

.security-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 70px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.image-section {
  animation: myAnim3 1s ease 0s 1 normal forwards;
}

.illustration-image {
  width: 90%;
}
.mail-section {
  padding-right: 70px;
  animation: myAnim2 1s ease 0s 1 normal forwards;
}

.mail-section h2 {
  font-family: Raleway, sans-serif;
  color: var(--mainColor);
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.mail-section p {
  font-family: Open Sans, sans-serif;
  color: var(--mainColor);
  margin-bottom: 20px;
  font-size: 1.1rem;
  padding-right: 50px;
}

.mail-subscription {
  display: flex;
  flex-direction: row;
}

.search-bar {
  width: 330px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #808080;
}
.search-bar:focus {
  outline: 1px solid rgb(255, 116, 127);
  background-color: none;
}
.submit-button {
  padding: 13px 70px;
  margin-left: 10px;
  color: #fff;
  background-color: hsl(224, 93%, 58%);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  transition: opacity 0.15s ease-in;
}
.submit-button:hover {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Testimonial section styling*/

.testimonial-section {
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 150px 70px;
}
.testimonial-container {
  width: 350px;
  padding: 25px 29px;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}
.testimonial-container p {
  font-family: Open Sans, sans-serif;
  line-height: 1.7;
  font-size: 0.9rem;
  color: var(--mainColor);
}

.profile-image {
  width: 40px;
  border-radius: 50%;
}
.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.profile-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.profile-text h4 {
  font-family: Raleway, sans-serif;
  color: var(--mainColor);
  font-size: 0.8rem;
  font-family: 700;
}
.profile-text p {
  font-family: Open Sans, sans-serif;
  font-size: 0.7rem;
}
.left-side-info h2 {
  color: var(--mainColor);
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.link-button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link-button a {
  font-family: Raleway, sans-serif;
  color: hsl(170, 45%, 43%);
  font-size: 1.1rem;
  margin-right: 5px;
  text-decoration: none;
}
.horizontal-line {
  height: 1px;
  width: 180px;
  background-color: hsl(170, 45%, 43%);
  display: inline-block;
  margin-bottom: 10px;
}

.left-side-info p {
  padding-right: 155px;
  margin-bottom: 20px;
  color: var(--mainColor);
  line-height: 1.5;
}
/* Access section styling*/

.access-section {
  padding: 120px 70px;
  background-color: hsl(238, 22%, 44%);
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: space-between;
}
.access-section-mail {
  margin-top: 15px;
}

.access-section-info h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 30px;
}
.access-section-info p {
  color: #fff;
  padding-right: 200px;
}

.access-search-bar {
  width: 530px;
  padding: 17px;
  border-radius: 3px;
  border: 1px solid #808080;
}
.access-search-bar:focus {
  outline: 1px solid rgb(255, 116, 127);
  background-color: none;
}

.access-submit-button {
  display: block;
  margin-top: 35px;
  padding: 17px 50px;
  color: #fff;
  background-color: hsl(224, 84%, 57%);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  transition: background-color 0.15s ease-in;
}
.access-submit-button:hover {
  background-color: hsl(224, 93%, 73%);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Footer styling */

footer {
  background-color: var(--mainColor);
  padding: 120px 70px;
  display: flex;
  flex-direction: column;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 200px;
}

.logo-footer img {
  filter: brightness(0) invert(1);
  margin-bottom: 30px;
}

.contact p {
  color: #fff;
  margin-left: 20px;
}

.left-items li,
.right-items li {
  color: #fff;
  list-style: none;
  font-family: Open Sans, sans-serif;
  margin-bottom: 20px;
}
.left-items li a,
.right-items li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s ease-in;
}

.left-items li a:hover,
.right-items li a:hover {
  color: hsl(224, 84%, 57%);
}

.phone-contact,
.email-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.facebook-icon,
.twitter-icon,
.instagram-icon {
  display: inline-block;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  transition: all 0.15s ease-in;
}
.facebook-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover {
  border: 1px solid hsl(224, 93%, 58%);
  color: hsl(224, 93%, 58%);
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header {
    padding: 20px;
    margin-bottom: 30px;
  }
  .security-section {
    grid-template-columns: 1fr;
    padding: 20px;
    justify-content: center;
  }
  .mail-section h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .mail-section p {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }
  .image-section {
    margin-bottom: 30px;
  }
  .testimonial-section {
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    padding: 100px 0;
    margin: 0;
  }
  .access-section {
    grid-template-columns: 1fr;
    padding: 0;
  }
  footer nav {
    flex-direction: column;
    padding: 0;
  }
  .mail-section {
    padding: 0;
    order: 2;
  }
  .right-side {
    order: 1;
    margin-bottom: 100px;
  }
  .left-side {
    order: 2;
  }
  .left-side-info h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .link-button {
    justify-content: center;
  }
  .left-side-info p {
    padding: 0 20px;
  }
  .horizontal-line {
    display: block;
    margin: 1px auto;
  }
  .testimonial-container {
    margin: 40px auto;
  }
  .access-section {
    padding: 50px 30px;
  }

  .access-section-info h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .access-search-bar {
    width: 250px;
    padding: 12px;
    margin-bottom: 10px;
  }
  .access-submit-button {
    width: 250px;
    padding: 12px;
    margin: 0;
  }
  .access-section-info p {
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .access-section-mail {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact {
    margin-bottom: 30px;
  }
  .left-items {
    margin-bottom: 30px;
  }

  .right-items {
    margin-bottom: 40px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-image {
    width: 100px;
  }
  .mail-subscription {
    text-align: center;
  }
  .search-bar {
    margin-bottom: 20px;
  }
  .submit-button {
    width: 330px;
    padding: 12px;
    margin-right: 10px;
  }
  .header-menu {
    display: none;
  }
  .sidebar {
    display: none;
    background-color: rgba(224, 224, 224, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    transition: all 0.5s ease-in;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .sidebar-menu li {
    list-style: none;
    margin-bottom: 20px;
  }
  .sidebar-menu li a {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: hsl(243, 87%, 12%);
  }
  .sidebar-menu li a:hover {
    color: hsl(224, 84%, 57%);
    font-weight: 700;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .close-icon {
    position: absolute;
    top: 28px;
    right: 18px;
  }
  .close-icon i {
    color: hsl(224, 84%, 57%);
  }
  .hamburger-menu i.hide {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1250px) {
  body {
    overflow-x: hidden;
  }
  header {
    padding: 20px;
    margin-bottom: 30px;
  }
  .security-section {
    grid-template-columns: 1fr;
    padding: 20px;
    justify-content: center;
  }
  .mail-section h2 {
    font-size: 1.8rem;
    text-align: center;
    padding: 0 100px;
  }
  .mail-section p {
    text-align: center;
    padding: 0 100px;
    margin-bottom: 40px;
  }
  .image-section {
    margin-bottom: 30px;
  }
  .testimonial-section {
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    padding: 100px 0;
    margin: 0;
  }
  .access-section {
    grid-template-columns: 1fr;
    padding: 0;
  }

  footer {
    align-items: center;
  }
  footer nav {
    flex-direction: column;
    padding: 0;
  }
  .mail-section {
    padding: 0;
    order: 2;
  }
  .right-side {
    order: 1;
    margin-bottom: 100px;
  }
  .left-side {
    order: 2;
  }
  .left-side-info h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .link-button {
    justify-content: center;
  }
  .left-side-info p {
    padding: 0 100px;
  }
  .horizontal-line {
    display: block;
    margin: 1px auto;
  }
  .testimonial-container {
    margin: 40px auto;
  }
  .access-section {
    padding: 50px 30px;
  }

  .access-section-info h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .access-search-bar {
    width: 250px;
    padding: 12px;
    margin-bottom: 10px;
  }
  .access-submit-button {
    width: 250px;
    padding: 12px;
    margin: 0;
  }
  .access-section-info p {
    padding: 0 100px;
    text-align: center;
    margin-bottom: 30px;
  }
  .access-section-mail {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact {
    margin-bottom: 30px;
  }
  .left-items {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-items {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-image {
    width: 100px;
  }
  .mail-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search-bar {
    margin-bottom: 20px;
    display: block;
  }
  .submit-button {
    width: 330px;
    padding: 12px;
    display: block;
    margin: 0 auto;
  }
  .header-menu {
    display: none;
  }
  .sidebar {
    display: none;
    background-color: rgba(224, 224, 224, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    transition: all 0.5s ease-in;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .sidebar-menu li {
    list-style: none;
    margin-bottom: 20px;
  }
  .sidebar-menu li a {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: hsl(243, 87%, 12%);
  }
  .sidebar-menu li a:hover {
    color: hsl(224, 84%, 57%);
    font-weight: 700;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .close-icon {
    position: absolute;
    top: 28px;
    right: 18px;
  }
  .close-icon i {
    color: hsl(224, 84%, 57%);
  }
  .hamburger-menu i.hide {
    display: none;
  }
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes myAnim3 {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
